<a href="https://colab.research.google.com/github/wlifferth/ghw-2022-06/blob/main/Part1-Intro-to-Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python for Machine Learning

## Part 1: Variables and Arithmetic

In [ ]:
# In Python we store data in variables with the assignment operator (=)
my_integer = 6
my_floating_point_number = 16.5
my_string = 'hello!'
my_boolean = True

# We can write variable names at the bottom of our cell to see them print out
my_integer, my_floating_point_number, my_string, my_boolean

### Arithmetic

In [ ]:
# With numbers we can add, subtract, multipy and divide
a = 25
b = 5
a_plus_b = a + b
a_minus_b = a - b
a_times_b = a * b
a_divided_by_b = a / b

a_plus_b, a_minus_b, a_times_b, a_divided_by_b

In [ ]:
# You can always group things in (parenthases) to do that part first--PEMDAS that shit
calculation_one = (12 - 6) / 2
calculation_two = 12 - (6 / 2)

calculation_one, calculation_two

In [ ]:
# Another helpful tool is being able to alter a variable in place

day_of_the_month = 9
day_of_the_month += 1

day_of_the_month

### Strings

In [ ]:
# There are lots of cool things we can do with string too
# We can use the + operator to concatenate strings

my_name = 'Will'
greeting = 'Hello ' + my_name + '!'

greeting

In [ ]:
# But _usually_ if we want to do something like that, we'll use a format string
# Put an `f` before your string, then you can include variable names between {curly braces}

drink_name = 'cortado'
fun_fact = f'My favorite coffee drink is a {drink_name}. It\'s the best!'

fun_fact

In [ ]:
# We can also get the length of a string
oh_the_places_youll_go = 'congratulations today is your day, you\'re off to great places you\'re off and away'

len(oh_the_places_youll_go)

In [ ]:
# And we can pull out specific letters from the string with [square brackets]

# We start counting from 0, so this will give us our 6th letter
oh_the_places_youll_go[5]

### Booleans

In [ ]:
# Booleans are always either True or False

sunny_in_seattle = False
i_want_coffee = True

# We can use `and`, `or`, and `not` to play with our booleans

sunny_in_seattle and i_want_coffee, sunny_in_seattle or i_want_coffee, i_want_coffee and not sunny_in_seattle

### Challenge
Create a variable called 'my_age' that holds your age and one called 'my_name' that contains your name. Then create a string that say 'My name is Will and my age is 25' (only replace Will and 25 with your variables).

In [ ]:
# Do the challenge here!

## Part 2: Lists and Dictionaries

### Lists

In [ ]:
# If we have multiples of one kind of variable, we can use a list
# We can create a list with [square brackets], separating each value with commas
cities = ['Nashville', 'Boston']

# We can add a new element to the list with the .append method

cities.append('Seattle')

cities

In [ ]:
# Above we see the whole list, but if we want to get a specific element in our list
# we can index it, starting with 0. Just like strings!

cities[0], cities[2]

### Dictionaries

In [ ]:
# Sometimes out data doesn't really fit in a list--if we have pairs of values we can use a dictionary!
city_populations = {
    # Nashville is the key, 692587 is the value
    'Nashville': 692587,
    'Boston': 684379
}

city_populations

In [ ]:
# To get a specific value, we can index it with the key:
city_populations['Nashville']

In [ ]:
# To add a key value pair, we do it like this:

city_populations['Seattle'] = 724305

city_populations

In [ ]:
# We can also get all the keys of a dictionary with the .keys() method
city_populations.keys()

### Challenge
Create a dictionary that maps the names of you and a couple family members or friends to their ages. Then give yourself a birthday by adding 1 to your age, and display the resulting dictionary.

In [ ]:
# Do the challenge here!

## Part 3: Ifs and Loops

### If statements

In [ ]:
# If statements let us check some condition, and only run code if that condition is True

pineapple_belongs_on_pizza = True


if pineapple_belongs_on_pizza:
    print('I like pineapple on pizza and I don\'t care who knows!')

In [ ]:
# We can also add an "else" clause to do something else if the condition isn't True
mashed_potatoes_are_good = False

if mashed_potatoes_are_good:
    print('I like mashed potatoes!')
else:
    print('Mashed potatoes are literally baby food.')

In [ ]:
# We can also use comparisons

my_age = 25

if my_age > 16:
    print('You can get a driver\'s license in the US!')
    
if my_age == 22:
    print('I don\t know about you, but I\'m feeling 22!')
    
# And logical operators (notice the extra elif clause there!)

temperature_f = 82
weather = 'Sunny'

if temperature_f > 70 and weather == 'Sunny':
    print('Let\'s go to the beach!')
elif temperature_f < 32 and weather == 'Snowy':
    print('Let\'s go skiing!')
else:
    print('Let\'s stay inside :/')

### Loops

In [ ]:
# We can use loops to do something multiple times--this is really helpful for working with lists

students = ['Marco', 'Elizabeth', 'Eric']
for student in students:
    print(f'Welcome to class {student}!')

In [ ]:
# We can also do more interesting logic inside our loop

weather_forecasts = ['Sunny', 'Rainy', 'Sunny']

sunny_day_count = 0
rainy_day_count = 0
snowy_day_count = 0

for forecast in weather_forecasts:
    if forecast == 'Sunny':
        sunny_day_count += 1
    elif forecast == 'Rainy':
        rainy_day_count += 1
    elif forecast == 'Snowy':
        snowy_day_count += 1

print(f'We\'re going to have {sunny_day_count} sunny days, {rainy_day_count} rainy days, and {snowy_day_count} snowy days')

In [ ]:
# We can also use loops on dictionaries!

ages = {'Will': 25, 'Richard': 23, 'Benjamin Franklin': 316}

# Everyone gets a birthday
# Notice we get the key in our dummy variable, not the value
for key in ages:
    ages[key] += 1
    
print(ages)

### Challenge
Create a list of integers from 1 through 6. Loop through it and check to see if each number is greater than 3--if it is print out "NUMBER is greater than 3" (replacing number with the current number)

In [ ]:
# Do the challenge here!

## Part 4: Functions

In [ ]:
# Functions let us package up a bit of code to reuse multiple times

def my_adding_function(foo, bar):
    my_sum = foo + bar
    return my_sum

# In the above function...
# def is our keyword that says we're writing a function
# my_adding_function is the name of our function, this is what we'll use later to call it
# (foo, bar) are our arguments--these are the inputs to our function
# the colon (:) tells us we're entering an indented code block, and that the function continues until we unindent
# my_sum = foo + bar is the core logic of our function
# return my_sum is our return statement--this shows us what the function gives us back when we call it

my_adding_function(2, 6)

### Challenge
Write a function that accepts a number, and returns that number times 2!

In [ ]:
# Do the challenge here!

## Part 5: Libraries and Pandas

### Libraries

In [ ]:
# We can import libraries with the import statement

import random

# Then use things from those libraries with the dot operator like this:

random.random()

In [ ]:
# If you every want to know all the stuff you can access with a dot, you can use the dir() function
# tho be careful, its output can be a little overwhelming sometimes

dir(random)

In [ ]:
# another cool library is called matplotlib

# Instead of importing all of matplotlib, we're only import pyplot, and we're giving it a new name: plt!
import matplotlib.pyplot as plt

x = [0, 1, 2, 3, 4, 5, 6]
x_squared = [0, 1, 4, 9, 16, 25, 36]

plt.plot(x, x_squared)

In [ ]:
# Now for the big one. There's a library called pandas that we're going to use a lot
# It helps us interact with the kind of data you would find in a spreadsheet

import pandas as pd

raw_data = {
    'state': ['California', 'Texas', 'Florida', 'New York', 'Pennsylvania', 'Illinois', 'Ohio', 'Georgia'],
    'abbreviation': ['CA', 'TX', 'FL', 'NY', 'PA', 'IL', 'OH', 'GA'],
    'population': [39613493, 29730311, 21944577, 19299981, 12804123, 12569321, 11714618, 10830007],
    'number_starbucks': [2821, 1042, 694, 645, 357, 575, 378, 326]
}

df = pd.DataFrame(raw_data)

In [ ]:
# Head is a helpful function that will just show us the first few rows of our dataframe
df.head()

In [ ]:
# We can pull out a single column just like we would for a dictionary

df['number_starbucks']

In [ ]:
# We can also get cool stats on that column

df['number_starbucks'].mean(), df['number_starbucks'].std()

In [ ]:
# Each individual column also works like a list, so we can use it in a loop:

for state in df['state']:
    print(f'{state} is a state in the US!')

In [ ]:
# Or we can use them in a graph


plt.plot(df['population'], df['number_starbucks'])
plt.xlabel('population')
plt.ylabel('number of starbucks')

In [ ]:
# We can also filter our dataframe like this

# Here we'll get all our states with more than 20 million people
df[df['population'] > 20000000]

In [ ]:
# We can also create new columns

df['people_per_starbucks'] = df['population'] / df['number_starbucks']

df

In [ ]:
# What if we want to analyze just states that have a starbucks for every 30,000 people or fewer?

# This will cause issues!
states_with_a_lot_of_starbucks = df[df['people_per_starbucks'] <= 30000]

states_with_a_lot_of_starbucks['caffeinated'] = 'highly'

In [ ]:
# In order to be efficient, pandas doens't copy all the data over when you filter it--it just gives you a "view" into the original data
# Normally this is great, but if we want to start messing around with our new data frame, we want a fresh copy of the data
states_with_a_lot_of_starbucks = df[df['people_per_starbucks'] <= 30000].copy()

states_with_a_lot_of_starbucks['caffeinated'] = 'highly'

states_with_a_lot_of_starbucks.head()

## Bonus Round: My Favorite Things!

In [ ]:
# Exponents

x = 9
x_squared = x ** 2
x_square_root = x ** .5

x_squared, x_square_root

In [ ]:
# List comprehensions

numbers = [1, 2, 3, 4, 5]

# The old dumb way

numbers_squared = []
for number in numbers:
    numbers_squared.append(number ** 2)

# The cool way
numbers_squared_but_cooler = [number ** 2 for number in numbers]

numbers_squared_but_cooler

In [ ]:
# Chaining comparisons

my_age = 17

# In most languages we have to do this:

if 16 < my_age and my_age < 21:
    print('You can drive, but you can\'t drink')
    
# But in python we can do THIS

if 16 < my_age < 21:
    print('You can drive, but you can\'t drink')

In [ ]:
# Negative indexing

ordinals = ['first', 'second', 'third', 'fourth', 'fifth']

ordinals[-1], ordinals[-2]